header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
}

header h1 {
    font-family: var(--title);
    color: #ffffff;
}