footer {
    margin: 0px auto;
    align-items: center;
    justify-content: center;
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

section>* {
    width: 100%;
    max-width: 500px;
    /* ou a largura que você quiser */
}

.sub-title {
    justify-content: center;
    align-items: center;
    text-align: center;
}