@if (this.mostrarFormulario) {

<div class="card-cadastro">
    <div class="input-cadastro">
        <label for="text">Task:</label>
        <input type="text" name="text" placeholder="Adicionar Tarefa" id="text" [(ngModel)]="tarefa">
    </div>

    <div class="cadastro">
        <div class="categoria">
            <label for="Categoria">Category</label>
            <select name="categoria" id="categoria" [(ngModel)]="categoria">
                <option value="Selecione" disabled>Selecione</option>
                @for (item of this.listaCategorias; track $index) {
                <option [value]="item.value">{{item.label}}</option>
                }
            </select>
        </div>

        <div class="btn-salvar" (click)="onSubmit()">
            <input type="submit" value="Save">
        </div>

    </div>
</div>
}

<button (click)="toggleFormulario()">
    {{ mostrarFormulario ? 'Close' : 'New Task' }}
</button>